<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="30001">
        <setting type="text" id="kraska.user" label="30020" default=""/>
        <setting type="text" id="kraska.pass" label="30021" default="" option="hidden"/>
        <setting type="text" id="kraska.token" label="30022" default="" option="hidden"/>
        <setting type="text" id="kraska.chsum" label="30023" default="" option="hidden"/>
        <setting type="text" id="system.uuid" label="30024" default="" option="hidden"/>
        <setting type="text" id="system.auth_token" label="30025" default="" option="hidden"/>
        <setting type="text" id="system.auth_token_updated" label="30026" default=""/>
    </category>
    <category label="30030">
        <setting type="text" id="kra_token" label="30031" default="" option="hidden"/>
        <setting type="text" id="kra_chsum" label="30032" default="" option="hidden"/>
        <setting type="text" id="kruser" label="30033" default=""/>
        <setting type="text" id="krpass" label="30034" default="" option="hidden"/>
        <setting type="text" id="ws_token" label="30035" default="" option="hidden"/>
        <setting type="text" id="wsuser" label="30036" default=""/>
        <setting type="text" id="wspass" label="30037" default="" option="hidden"/>
        <setting type="text" id="trakt.authorization" label="30038" default="" option="hidden"/>
        <setting type="text" id="trakt.token" label="30039" default="" option="hidden"/>
    </category>
</settings>
