<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="32000">
    <setting id="deepl_api_key" type="text" option="hidden" label="32003" default=""/>
    <setting id="deepl_api_base_url" type="text" label="32005" default=""/>
    <setting id="source_language" type="select" label="32007" lvalues="32010|32011|32012" default="0"/>
    <setting type="lsep" label="32050"/>
    <setting id="os_username" type="text" label="32051" default=""/>
    <setting id="os_password" type="text" option="hidden" label="32052" default=""/>
    <setting id="auto_upload" type="bool" label="32053" default="false"/>
    <setting id="auto_submit" type="bool" label="32054" default="false"/>
    <setting id="helper_url" type="text" label="32055" default=""/>
    <setting id="helper_token" type="text" option="hidden" label="32057" default=""/>
    <setting id="mark_machine_translated" type="bool" label="32056" default="true"/>
  </category>
</settings>
